<p> <%= @user.name %> 様 </p>

<p>パスワード再設定のリクエストを先ほど行われました。<br>この手続を完了するには、以下のリンクをクリックしてください。</p>

<%= edit_password_reset_url(@user.reset_token, email: @user.email) %>

<p>このメールに心当たりのない場合や、パスワードを再設定する必要のない場合は、このメールを無視して構いません。</p>

<a href="https://bx-note.herokuapp.com/">BX.note</a>