<% if logged_in? %>
  <div class="comment-form-block">
    <%= form_with(model: Comment.new(id: current_user.id), class: 'comment-form') do |f| %>
      <%= f.text_area :content, id: 'comment-textarea', class: 'comment-form__textarea', placeholder: 'メッセージを入力' %>
      <%= hidden_field_tag 'comment[post_id]', post.id %>
      <%= f.submit "送信", id: 'comment-submit', class: 'comment-form__submit' %>
    <% end %>
  </div>
  
<% else %>
  <p>ログインしてください</p>
<% end %>