<% provide(:title, '新規登録') %>
<% provide(:url, signup_path) %>
<% provide(:button_text, "アカウント登録") %>
<main class="main-signUp">
  <h1>新規登録</h1>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= render 'form' %>
    </div>
  </div>
</main>