<% if object.errors.any? %>
  <div id="error_explanation" class="alert alert--danger">
    <ul class="error-list">
      <% object.errors.full_messages.each do |msg| %>
      <li class="error-list__item">・<%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%# <script type="text/javascript">
 $('#error_explanation').fadeIn(500);
</script> %>