/*
  post
*/

//共通のレイアウト
.post-list {
  &__item {
    position: relative;
    padding: 10px 15px;
    background-color: #fff;
    @include media(pc) {
      @include radius;
      margin-bottom: 10px;
      &:nth-last-of-type(1) {
        margin-bottom: 0;
      }
    }
    @include media(tab) {
      border-bottom: 1px solid $border;
      &:nth-last-of-type(1) {
        border-bottom: none;
      }
    }
    > .inner {
      display: flex;
      justify-content: space-between;
    }
    .inner__left {
      .user-link__item--img img {
        @include media(sp) {
          height: 40px;
          width: 40px;
        }
      }
    }
    .inner__right {
      width: calc(100% - 50px - 5px);
      @include media(sp) {
      width: calc(100% - 40px - 5px);
      }
    }
    .post-meta-icon {
      position: absolute;
      top: 7px;
      right: 15px;
      font-size: 2rem;
      color: gray;
    }
    .user-link__item--post {
      font-size: 1.6rem;
      font-weight: bold;
      margin-top: 12px;
      padding-right: 15px;
      @include three_reader;
      &:hover {
        text-decoration: underline;
      }
      @include media(sp) {
        margin-top: 9px;
      }
    }

    .post-meta {
      display: none;
      position: absolute;
      top: 30px;
      right: -70px;
      z-index: 20;
      padding: 10px 0;
      background-color: #fff;
      box-shadow: 0 1px 4px rgba(0,0,0,0.25);
      @include radius;
      @include media(tab) {
        right: 20px;
      }
      .post-edit, .post-delete {
        display: block;
        padding: 0 20px;
        @include media(pc) {
          &:hover {
            background-color: #00AFCC;
            color: #fff;
          }
        }
      }
      .post-edit {
        margin-bottom: 5px;
      }
    }
    .categories {
      @include media(tab-pc) {
        margin-top: 10px;
      }
      &__link {
        padding: 5px;
        background-color: $AccentColor;
        color: #fff;
        font-size: 1.4rem;
        @include radius;
        @include media(sp) {
          display: inline-block;
          margin-top: 7px;
          padding: 2px 5px;
        }
        &:hover {
          opacity: 0.8;
        }
      }
    }

    .post-image {
      margin-top: 10px;
      .slider {
        &__item .image {
          height: 380px;
          width: 100%;
          @include cover;
          @include radius;
          @include media(sp) {
            height: 200px;
          }
        }
        .slick-prev, .slick-next {
          z-index: 5;
          &::before {
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            text-shadow: 3px 3px 12px #000;
            @include media(sp) {
              font-size: 1.5rem;
            }
          }
        }
        .slick-prev {
          left: 10px;
          @include media(sp) {
            left: 5px;
          }
          &::before {
            content: '\f053';
          }
        }
        .slick-next {
          right: 10px;
          @include media(sp) {
            right: 5px;
          }
          &::before {
            content: '\f054';
          }
        }
      }
    }

    .post-item {
      margin-top: 10px;
      border: 1px solid $border;
      overflow: hidden;
      @include link-radius;
      &:hover {
        background-color: #f5f8fa;
      }
      &__link {
        display: flex;
      }
      &__img {
        @include cover;
        &--article {
          height: 173px;
          width: 173px;
          border-right: 1px solid $border;
          &.fa-pen-square {
            color: gray;
          }
          @include media(sp) {
            height: 100px;
            width: 100px;
          }
        }
        &--book {
          height: 150px;
          width: 120px;
          @include media(sp) {
            height: 120px;
            width: 95px;
          }
        }
      }
      &__text {
        position: relative;
        width: calc(100% - 120px);
        padding: 16px 20px;
        @include media(sp) {
          padding: 0 5px;
        }
        &--book {
          @include f-center;
        }
        &--article {
          @include media(sp) {
            @include f-center;
          }
          .article-title {
            font-weight: bold;
            @include media(tab-pc) {
              margin-bottom: 15px;
            }
            @include media(sp) {
              font-size: 1.5rem;
              line-height: 1.3;       
            }
          }
          .article-desc {
            line-height: 1.5;
            @include three-reader_webkit;
            @include media(sp) {
              display: none;
            }
          }
        }
        @include media(sp) {
          width: calc(100% - 95px);
        }
        .book-title-text {
          line-height: 1.3;
          @include media(sp) {
            font-size: 1.5rem;
            @include three-reader_webkit;
          }
        }
        .link-title {
          position: absolute;
          bottom: 5px;
          right: 5px;
          color: #8899A6;
          font-size: 1.4rem;
        }
      }
    }

    .post-content {
      margin-top: 5px;
      font-size: 1.5rem;
      @include harf_wrap;
    }

    .book-evalution-block {
      margin-top: 10px;
      .book-rate {
        font-size: 2.8rem;
        @include media(tab) {
          font-size: 2.4rem;
        }
        &::before {
          text-shadow: 0 0 1px #333;
        }
        &--check {
          &::before {
            content: '\2605';
            color: #e52;
          }
        }
        &--uncheck {
          &::before {
            content: '\2606';
            color: #888;
          }
        }

      }
    }
    .bottom-list {
      position: relative;
      height: 20px;
      margin-top: 5px;
      .like-link {
        position: absolute;
        left: 0;
        .like-btn {
          color: #8899a6;
          &--unlike {
            color: #ff2581;
          }
        }
      }

      .comment-link {
        position: absolute;
        left: 70px;
        .comment-btn {
          color: #8899a6;
          &--exist {
            color: $AccentColor;
          }
        }
      }
      .timestamp {
        position: absolute;
        right: 0;
        font-size: 1.4rem;
        color: #657786;
      }
    }
  }
}
//共通のレイアウト end



/*
  post end
*/