/*
  profile
*/
.main--profile {
  .contents {
    &__left {
      background-color: transparent !important;
      .profile-nav {
        height: 60px;
        background-color: #fff;
        @include media(pc) {
          margin-bottom: 10px;
        }
      }
      .profile-content {
        height: 500px;
        background-color: #fff;
      }
    }
    &__right {
      &--edit {
        @include media(tab) {
          display: block;
          .categories, .about-link {
            display: none;
          }
        }
      }
    }
  }
}

.ProfileNav-list {
  display: flex;
  background-color: #fff;
  @include radius;
  @include media(pc) {
    margin-bottom: 17px;
    padding: 14px 0 0 30px;
  }
  @include media(tab) {
    justify-content: space-between;
    padding: 0 10px 0;
  }
  &__item {
    position: relative;
    text-align: center;
    padding: 0 20px 7px; 
    @include media(tab) {
      padding: 0 10px 5px;
    }
    &.current {
      .link__num {
        color: $AccentColor;
      }
      &::before {
        left: 0;
        width: 100%;
      }
      &:hover::before {
        width: 100%;
      }
    }
    &::before, &::after {
      content: '';
      width: 0;
      bottom: 0;
      transition: all 0.3s ease;
      border-bottom: 2px solid $AccentColor;
      position: absolute;
      display: block;          
    }
    &::before {
      left: 50%;
    }
    &::after {
      right: 50%;
    }
    &:hover::before, &:hover::after {
      width: 50%;
      border-bottom: 2px solid $AccentColor;
    }
    &:hover {
      .link__num {
        color: $AccentColor;
      }
    }
  }
  .link {
    color: #66757f;
    font-weight: bold;
    &__title {
      font-size: 1.4rem;
    }
    &__num {
      font-size: 1.8rem;
      transition: all 0.3s ease;
    }
  }
  span {
    display: block;
  }
}






// profile-block
.profile-block {
  background-color: #fff;
  padding: 20px 10px;
  @include radius;
  &__name {
    font-size: 2.1rem;
    @include media(pc) {
      text-align: center;
    }
  }
  &__img {
    height: 100px;
    width: 100px;
    @include icon;
    &--show {
      margin: 0 auto 10px;
    }
    &--edit {
      @include media(pc) {
        margin-right: 30px;
      }
      @include media(tab) {
        margin: 0 auto;
      }
    }
  }
  &__introduce {
    font-size: 1.4rem;
    @include media(pc) {
      margin: 20px 0; 
    }
  }
  &__link {
    display: block;
    width: 200px;
    text-align: center;
    border: 1px solid $AccentColor !important;
    color: $AccentColor;
    border-radius: 100px;
    @include media(pc) {
      margin: 0 auto;
      padding: 8px 0;
      transition: 0.2s;
    }
    &--edit {
      @include media(pc) {
        &:hover {
          background-color: $AccentColor;
        color: #fff;
        }
      }
    }
    &--follow {
      @include media(pc) {
        &:hover {
          background-color: rgba(0, 175, 204, 0.1);
        }
      }
    }
    &--unfollow {
      background-color: $AccentColor;
      color: #fff;
      @include media(pc) {
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
// profile-block end
/*
  profile end
*/