/*
  profile
*/
.main--profile {
  .contents {
    &__left {
      background-color: transparent !important;
      .profile-nav {
        height: 60px;
        background-color: #fff;
        @include media(pc) {
          margin-bottom: 10px;
        }
      }
      .profile-content {
        height: 500px;
        background-color: #fff;
      }
    }
    &__right {
      &--edit {
        @include media(tab) {
          display: block !important;
          .categories, .about-link {
            display: none;
          }
        }
      }
    }
  }
}


// ProfileNav-list
.ProfileNav-list {
  display: flex;
  justify-content: space-between;

  &__item {
    text-align: center;
    .link {
      font-weight: bold;
      &__title {
        font-size: 1.4rem;
      }
      &__num {
        font-size: 1.8rem;
      }
    }
  }
  span {
    display: block;
  }
}

.profile-card {
  &--pc {
    .ProfileNav-list {
      &__item {
        .link {
          &__num {
            color: $AccentColor;
          }
          &__title:hover, &__num:hover {
            opacity: 0.6;
          }
        }
      }
    }
  }
}
.main--profile .ProfileNav-list {
  background-color: #fff;
  @include radius;
  @include media(pc) {
    justify-content: flex-start;
    margin-bottom: 17px;
    padding: 14px 0 0 30px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.25);
  }
  @include media(tab) {
    padding: 0 10px 0;
    border-bottom: 1px solid $border;
  }
  &__item {
    position: relative;
    padding: 0 20px 7px; 
    @include media(tab) {
      padding: 0 10px 5px;
    }
    &.current {
      .link__num {
        color: $AccentColor;
      }
      &::before {
        left: 0;
        width: 100%;
      }
      &:hover::before {
        width: 100%;
      }
    }
    &::before, &::after {
      content: '';
      width: 0;
      bottom: 0;
      transition: all 0.3s ease;
      border-bottom: 2px solid $AccentColor;
      position: absolute;
      display: block;          
    }
    &::before {
      left: 50%;
    }
    &::after {
      right: 50%;
    }
    @include media(pc) {
      &:hover::before, &:hover::after {
        width: 50%;
        border-bottom: 2px solid $AccentColor;
      }
      &:hover {
        .link__num {
          color: $AccentColor;
        }
      }
    }
  }
  .link {
    color: #66757f;
    &__num {
      transition: all 0.3s ease;
    }
  }
  
}
// .ProfileNav-list end





// profile-block
.profile-block {
  position: relative;
  background-color: #fff;
  padding: 20px 10px;
  @include radius;
  &__name {
    font-size: 2.1rem;
    line-height: 1.3;
    @include harf_wrap;
    @include media(tab) {
      margin: 10px 0;
    }
  }
  &__img {
    height: 100px;
    width: 100px;
    @include media(sp) {
      height: 80px;
      width: 80px;
    }
    @include icon;
    &--show {
      @include media(pc) {
        margin: 0 auto 10px;
      }
    }
    &--edit {
      @include media(pc) {
        margin-right: 30px;
      }
      @include media(tab) {
        margin: 0 auto;
      }
    }
  }
  &__introduce {
    font-size: 1.4rem;
    line-height: 1.4;
    @include harf_wrap;
    @include media(pc) {
      margin: 10px 0 20px; 
    }
  }
  &__link {
    display: block;
    width: 200px;
    text-align: center;
    border: 1px solid $AccentColor !important;
    color: $AccentColor;
    border-radius: 100px;
    padding: 4px 0;
    @include media(pc) {
      margin: 0 auto;
      padding: 8px 0;
      transition: 0.2s;
    }
    &--edit {
      @include media(pc) {
        &:hover {
          background-color: $AccentColor;
        color: #fff;
        }
      }
      @include media(tab) {
        position: absolute;
        top: 20px;
        right: 10px;
      }
    }
    &--follow {
      background-color: #fff;
      @include media(pc) {
        &:hover {
          background-color: rgba(0, 175, 204, 0.1);
        }
      }
    }
    &--unfollow {
      background-color: $AccentColor;
      color: #fff;
      @include media(pc) {
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
  .user-delete-link {
    display: block;
    margin-top: 20px;
    padding: 5px 0;
    text-align: center;
    font-weight: bold;
    background-color: red;
    color: #fff;
  }
}
// profile-block end


// users-block
.users-block {
  // width: 100%;
  @include media(pc) {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    // transform: translateX(-10px);
    margin-top: -10px;
    margin-left: -10px;
  }
  @include media(tab) {
    padding-top: 5px;
    background-color: #fff;
  }
  .user-card {
    background-color: #fff;
    @include radius;
    @include media(pc) {
      height: 200px;
      width: calc(100% / 3 - 10px);
      margin: 10px 0 0 10px;
      padding: 10px 15px;
      // overflow: hidden;
    }
    @include media(tab) {
      padding: 10px;
      border-bottom: 1px solid $border;
    }
    .titleFollow-wrapper {
      display: flex;
      justify-content: space-between;
    }
    &__title {
      .link {
        @include media(tab) {
          display: flex;
          align-items: center;
        }
        .user-block-icon {
          height: 40px;
          width: 40px;
          @include icon;
        }
      }
      .user-name {
        font-size: 1.8rem;
        font-weight: bold;
        @include three_reader;
        &:hover {
          text-decoration: underline;
        }
        @include media(pc) {
          position: absolute;
          width: 220px;
        }
        @include media(tab) {
          margin-left: 7px;
        }
        @include media(sp) {
          width: 50vw;
        }
      }
    }
    .profile-block__link {
      width: 100px;
      padding: 5px 0;
      font-size: 1.2rem;
      font-weight: bold;
      @include media(pc) {
        margin-top: 5px;
      }
    }

    &__introduce {
      @include media(pc) {
        margin-top: 30px;
      }
      
      // height: auto;
      width: 100%;
      overflow: hidden;
      .text {
        font-size: 1.4rem;
        &.active {
          @include media(pc) {
            @include three_reader_multi(1.4rem, 1.6, 5);
          }
        }
      }
    }
  }
}
// users-block end




/*
  profile end
*/