// ミックスインの定義
// メディアクエリー
@mixin media($breakpoint) {
	@media #{map-get($breakpoints, $breakpoint)} {
		@content;
	}
}

 // float 解除
 @mixin clear {

 	&::after {
 		content: "";
 		display: block;
 		clear: both;
 	}
 }


// h2
@mixin h2 {
  font-size: 5rem;
  font-family: $ff-eng;
  font-weight: normal;
}

//  ポジション
 @mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
 }

 @mixin t-center {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
 }

 @mixin b-center {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
 }

//  フレックスボックス
@mixin f-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// object-fit
@mixin cover {
  object-fit: cover;
  font-family: 'object-fit: cover;';
}
@mixin cover-left {
  object-fit: cover;
  object-position: left;
  font-family: 'object-fit: cover; object-position: left;';
}
@mixin cover-right {
  object-fit: cover;
  object-position: right;
  font-family: 'object-fit: cover; object-position: right;';
}
@mixin contain {
  object-fit: contain;
  font-family: 'object-fit: contain;';
}

@mixin radius {
  border-radius: 5px;
}
@mixin link-radius {
  border-radius: 14px;
}

// ユーザーアイコン
@mixin icon {
  display: block;
  border: 1px solid $border;
  border-radius: 50%;
  object-fit: cover;
  font-family: 'object-fit: cover;'
}

// ページネーション
@mixin page {
  display: inline-block;
  text-align: center;
  line-height: 45px;
  height: 45px;
  width: 45px;
  border-radius: 50%;
}

// 1行３点リーダー
@mixin three_reader {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 複数行３点リーダー
@mixin three_reader_multi($font-size-base, $line-height-computed, $lines-to-show) {
  height: $font-size-base * $line-height-computed * $lines-to-show;
  line-height: $line-height-computed;
  position: relative;
  &:before,
  &:after {
    position: absolute;
  }
  &:before {
    content: "...";
    top: $font-size-base * $line-height-computed * ($lines-to-show - 1);
    right: 0;
  }
  &:after {
    content: "";
    height: 100%;
    width: 100%;
  }
}

// chrome, safari様３点リーダー
@mixin three-reader_webkit {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
  overflow: hidden;
}

// input内seachアイコン
@mixin input_search_icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 16px;
  border: none;
  padding: 0;
  background: rgba(0,0,0,0);
}

// 半角折り返し
@mixin harf_wrap {
  word-wrap: break-word;
  word-break: break-all;
}