/*
  alert
*/


/* エラーメッセージ */
.alert {
	// padding: 5px;
	// @include radius;
	// margin-bottom: 10px;
}
/* エラーメッセージ end */
.alert {
  position: fixed;
  top: -65px;
  left: 0;
  right: 0;
  z-index: 5;
  transition: top .5s;
  width: 600px;
  padding: 20px;
  margin: 0 auto;
  color: $AccentColor;
  background-color: #fff;
  font-size: 1.7rem;
  font-weight: bold;
  text-align: center;
  border: {
    right: 2px solid $AccentColor;
    bottom: 2px solid $AccentColor;
    left: 2px solid $AccentColor;
  }
  border-radius: 0 0 5px 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.25);
  @include media(tab) {
    width: 100%;
    padding: 15px;
  }
  &--danger {
    color: red;
  }
}
.alert-down {
  top: 60px;
}

.form-alert {
  color: #fff;
  background-color: #ff503c;
  margin-bottom: 20px;
  padding: 10px 5px;
  @include radius;
  .error-list {
    &__item {
      padding-bottom: 5px;
      &:nth-last-of-type(1) {
        padding-bottom: 0;
      }
    }
  }
}
.comment-alert {
  position: absolute;
  top: -52px;
  right: 20px;
  z-index: 10;
  height: 50px;
  width: 368px;
  background-color: $AccentColor;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.25);
  text-align: center;
  line-height: 50px;
  transition: top .5s;
  border-radius: 0 0 5px 5px;
  @include media(pc) {
  }
}

.post-alert {
  position: absolute;
  display: none;
  background-color: $AccentColor;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.25);
  @include media(pc) {
    @include radius;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 15px;
  }
  @include media(tab) {
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    text-align: center;
  }
}



/*
  alert end
*/