/*
    header
*/
.header {
  position: relative;
  height: $header-height;
  background-color: #fff;
  border-bottom: 1px solid $border;
  > .inner {
		display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin: 0 auto;
		padding-top: 0;
    padding-bottom: 0;
    @include media(pc) {
      width: $pc-width;

    }
	}
}
.header-logo {
  height: 50px;
	&__link {
		display: block;
		height: 100%;
		@include media(tab) {
			// height: 60px;
			margin-left: 15px;
		}
	}
  &__img {
    height: 100%;
    vertical-align: top;
    @include media(tab) {
      width: 125px;
    }
  }
}

// @import url(https://fonts.googleapis.com/css?family=Lato:300,400);

.tab-menu {
  // position: absolute;
	// top: 0;
	// left: 0;
  @include media(pc) {
    display: none;
  }
}
	.nav-open{
		
		.lower-screen{
			transform: scale(0.8, 0.8);
		}
		
		.nav{
			transform: translateY(0);
		}
		
		.nav-toggle{
			box-shadow: none;
		
			&:before{
				width: 2500px;
				height: 2500px;
				@include media(sp) {
					width: 1600px;
					height: 1600px;

				}
				background-color: fade(#4A75E6, 95%);
			}
			
			.icon{
				width: 0;
			
				&:before{
					transform: translateY(9px) rotate(45deg); 
				}
				
				&:after{
					transform: translateY(-9px) rotate(-45deg);
				}
			}
		}
	}

.nav-toggle{
  position: relative;
	width: 40px;
	height: 40px;
	z-index: 2;
	
	border-radius: 50%;
	//background-color: #4A75E6;
	
	margin: 10px;
	cursor: pointer;
	
	box-shadow: 0 3px 0 fade(black, 20%);
	
	transition-duration: 0.66s;
	
	&:before{
		width: 40px;
		height: 40px;
		
		border-radius: 50%;
		background-color: $AccentColor;
		content: "";
		
		position: absolute;
		top: 50%;
		left: 50%;
		
		transform: translateX(-50%) translateY(-50%);
		transition-duration: 0.66s;
	}
	
	.icon{
		width: 25px;
		height: 4px;
		
		background-color: white;
		border-radius: 2px;
		
		position: absolute;
		top: 19px;
		left: 8px;
		
		transition-duration: 0.5s;
		
		&:before,
		&:after{
			width: 25px;
			height: 4px;
			background-color: white;
			border-radius: 2px;
			
			content: "";
			position: absolute;
			
			left: 0;
			
			transition-duration: 0.5s;
			// transiting-timing-function: swing;
		}
		
		&:before{
			top: -9px;
		}
		
		&:after{
			top: 9px;
		}
	}
}

.nav{
	position: absolute;
	top: 56px;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 9;
	padding: 0 20px;
	
	transition-duration: 0.66s;
	transition-timing-function: swing;
	transform: translateY(100%);

	ul{
		li{
			list-style: none;
			
			a{
				display: block;
				padding: 10px 0;
				text-align: center;
				color: white;
				text-decoration: none;
				font-size: 20px;
				
				transition-duration: 0.25s;
			}
		}
		
		&:hover{
			li{
				a{
					opacity: 0.5;
				}
				
				&:hover{
					a{
						opacity: 1;
					}
				}
			}
		}
	}
}

.serch-box {
	position: relative;
	@include media(tab) {
		width: 70%;
	}
  &__input {
    border: none;
    border-radius: 16px;
    background-color: $border;
  }
  &__button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 16px;
    border: none;
    padding: 0;
    background: rgba(0,0,0,0);
    &:hover {
      opacity: 0.8;
    }
	}
	&--pc {
		@include media(tab) {
			display: none;
		}
		&__input {
			width: 366px;
		}
	}
	&--sp {
		&__input {
			width: 100%;
		}
	}
}

.sp-serch {
  font-size: 30px;
  @include media(pc) {
    display: none;
  }
}

.post-link {
  &__img {
    height: 40px;
		width: 40px;
		@include media(tab) {
			height: 35px;
			width: 35px;
		}
  }
}

/*
    header end
*/