/*
    header
*/
.header {
	position: fixed;
	z-index: 10;
	height: $header-height;
	width: 100%;
  background-color: #fff;
	border-bottom: 1px solid $border;
	@include media(pc) {
		// margin-bottom: 90px;
	}
  > .inner {
		display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin: 0 auto;
		padding-top: 0;
    padding-bottom: 0;
    @include media(pc) {
      width: $pc-width;

		}
		@include media(tab) {
			padding: 0 10px;
		}
	}
}
.header-logo {
  height: 50px;
	&__link {
		display: block;
		height: 100%;
		@include media(tab) {
		}
	}
  &__img {
    height: 100%;
    vertical-align: top;
    @include media(tab) {
      width: 125px;
    }
  }
}

.tab-menu {
	color: #fff;
	div {
		margin-bottom: 20px;
		&:nth-last-of-type(1) {
			margin-bottom: 0;
		}
	}
  @include media(pc) {
    display: none;
	}
}
	.tab-menu.nav-open{
		
		.lower-screen{
			transform: scale(0.8, 0.8);
		}
		
		.contents{
			// display: block;
			transform: translateY(0);
		}
		
		.nav-toggle{
			box-shadow: none;
		
			&:before{
				width: 2500px;
				height: 2500px;
				@include media(sp) {
					width: 1600px;
					height: 1600px;
				}
				background-color: fade(#4A75E6, 95%);
			}
			
			.icon{
				width: 0;
			
				&:before{
					transform: translateY(9px) rotate(45deg); 
				}
				&:after{
					transform: translateY(-9px) rotate(-45deg);
				}
			}
		}
	}

.nav-toggle{
  position: relative;
	width: 40px;
	height: 40px;
	z-index: 2;
	
	border-radius: 50%;
	cursor: pointer;
	
	box-shadow: 0 3px 0 fade(black, 20%);
	
	transition-duration: 0.66s;
	
	&:before{
		width: 40px;
		height: 40px;
		
		border-radius: 50%;
		background-color: $AccentColor;
		content: "";
		
		position: absolute;
		top: 50%;
		left: 50%;
		
		transform: translateX(-50%) translateY(-50%);
		transition-duration: 0.66s;
	}
	
	.icon{
		width: 25px;
		height: 4px;
		
		background-color: #fff;
		border-radius: 2px;
		
		position: absolute;
		top: 19px;
		left: 8px;
		
		transition-duration: 0.5s;
		
		&:before,
		&:after{
			width: 25px;
			height: 4px;
			background-color: #fff;
			border-radius: 2px;
			
			content: "";
			position: absolute;
			
			left: 0;
			
			transition-duration: 0.5s;
		}
		
		&:before{
			top: -9px;
		}
		
		&:after{
			top: 9px;
		}
	}
}

.tab-menu {
	.contents{
		// display: none;
		position: absolute;
		top: 56px;
		left: 0;
		width: 100vw;
		/* カスタムプロパティ未対応ブラウザ対応 */
		height: 100vh;
		/* 100vh --vhが未定義の場合は1vhを使う */
		height: calc(var(--vh, 1vh) * 100);
		z-index: 10;
		
		transition-duration: 0.66s;
		transform: translateY(calc(-100% - 56px));
	
		.profile-card {
			height: 144px;
			border-bottom: 1px solid $border;
		}
	
		.categories {
			text-align: center;
			border-bottom: 1px solid $border;
			&__title {
				color: #fff;
				font-size: 20px;
				font-weight: bold;
				&::before {
					content: '\f277';
					font-family: 'Font Awesome 5 Free';
					font-weight: 900;
					display: inline-block;
					margin-right: 10px;
					vertical-align: middle;
				}
			}
		} 
	
		ul{
			li{
				list-style: none;
				
				a{
					display: block;
					padding: 10px 0;
					color: #fff;
					transition-duration: 0.25s;
				}
			}
			
		}
		.about-link {
			text-align: center;
			.link {
				font-size: 20px;
				font-weight: bold;
				color: #fff;
				
			}
		}
	}

}

.serch-box {
	position: relative;
	@include media(tab) {
		width: 70%;
	}
  &__input {
    border: none;
    border-radius: 16px;
    background-color: $border;
  }
  &__button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 16px;
    border: none;
    padding: 0;
    background: rgba(0,0,0,0);
    &:hover {
      opacity: 0.8;
    }
	}
	&--pc {
		@include media(tab) {
			display: none;
		}
		&__input {
			width: 366px;
		}
	}
	&--sp {
		&__input {
			width: 100%;
		}
	}
}

.sp-serch {
  font-size: 30px;
  @include media(pc) {
    display: none;
  }
}

.post-link {
  &__img {
    height: 40px;
		width: 40px;
		@include media(tab) {
			height: 35px;
			width: 35px;
		}
  }
}

/*
    header end
*/