/*
  post
*/
.post-list {
  &__item {
    position: relative;
    padding: 10px 15px;
    background-color: #fff;
    @include radius;
    @include media(pc) {
      margin-bottom: 10px;
      &:nth-last-of-type(1) {
        margin-bottom: 0;
      }
    }
    .categories {
      &__link {
        padding: 5px;
        background-color: $AccentColor;
        color: #fff;
        font-size: 1.4rem;
        @include radius;
        &:hover {
          opacity: 0.8;
        }
      }
    }
    > .inner {
      // position: absolute;
      // z-index: 5;
    }
  }
}

// いいねアイコン
.like-btn {
  color: #8899a6;
  &--unlike {
    color: #ff2581;
  }
}

//コメントアイコン
.comment-btn {
  color: #8899a6;
  &--exist {
    color: $AccentColor;
  }
}

/*
  post end
*/