<div id="inner--edit" class="inner inner--edit">

  <div class="modal-header">
    <div id="close-btn--tab" class="close-btn close-btn--tab">
      キャンセル
    </div>

    <p class="modal-header__title">投稿を編集</p>

    <div class="dummy-submit-btn dummy-submit-btn--edit">保存</div>

    <div class="close-btn close-btn--pc">
      <div class="modal-icon"></div>
    </div>

  </div>


  <div id="panel-area" class="panel post-data">
    <% if @post.genre == "book" %>
      <%= render 'posts/post_form_book', post: @post %>
    <% elsif @post.genre == "article" %>
      <%= render 'posts/post_form_article', post: @post %>
    <% else %>
      <%= render 'posts/post_form_other', post: @post %>
    <% end %>
  </div>

  <div id="post-alert" class="post-alert">
    <ul class="error-list"></ul>
  </div>

  <div id="post-load" class="post-load post-load--edit">
    <div class="post-load__inner">
      <div class="ball"></div>
      <div class="ball"></div>
      <div class="ball"></div>
    </div>
  </div>
  
</div>