<!--- modal-post-show -->
<div id="modal-close--post-show" class="modal-close--post-show"></div>

<!-- modal-content--post -->
<div id="modal-content--post-show" class="modal-content-post-show">


</div><!-- modal-content--post end -->