<div id="modal-close--post" class="modal-close modal-close--post"></div>

<!-- modal-content--post -->
<div id="modal-content--post" class="modal-content modal-content--post">

  <div id="modal-header" class="modal-header">
    <div id="close-btn--tab" class="close-btn close-btn--tab">
      キャンセル
    </div>

    <div id="prev-btn" class="prev-btn">
      <i class="fas fa-chevron-left "></i>
    </div>

    <p class="modal-header__title">投稿を作成</p>
    <div id="dummy-submit-btn" class="dummy-submit-btn">シェア</div>
    <div id="" class="close-btn close-btn--pc">
    <div class="modal-icon"></div>
    </div>
  </div>

  <!-- modal-main -->
  <div class="modal-main">
  

    <div id="label-area" class="label-area">
      <%= button_to select_path, remote: true,params: {data: 'book'}, class: 'label' do %>
        <span class=" label-title label-title--1">本の感想</span>
      <% end %>

      <%= button_to select_path, remote: true,params: {data: 'article'}, class: 'label' do %>
        <span class=" label-title label-title--2">記事共有</span>
      <% end %>

      <%= button_to select_path, remote: true,params: {data: 'other'}, class: 'label' do %>
        <span class=" label-title label-title--3">その他</span>
      <% end %>
    </div>

    <div id="panel-area" class="panel-area">

    </div>
  </div><!-- modal-main end -->

</div><!-- modal-content--post end -->