<div class="inner inner--show">

  <div id="comment-alert" class="comment-alert"></div>

  <div class="show-header">
    <div id="close-btn--tab" class="show-header__close close-btn close-btn--tab">
      キャンセル
    </div>
    <p class="show-header__title">投稿</p>
  </div>

  <div id="post-data" class="post-data">
    <%= render post %>
  </div>

  <div class="comment-block">
    <div class="comment-list-wrapper">
      <ol id="comment-list" class="comment-list">
        <%= render 'comments/comment_list', post: post %>
      </ol>
    </div>
    <%= render 'comments/comment_form', post: post %>
  </div>
  
</div>