<div class="inner">

  <div id="post-data" class="post-data">
    <%= render post %>
  </div>

  <div class="comment-block">
    <div class="comment-list-wrapper">
      <ol id="comment-list">
        <%= render 'comments/comment_list', post: post %>
      </ol>
    </div>
    <%= render 'comments/comment_form', post: post %>
  </div>
  
</div>