<footer class="footer">
  <!-- inner -->
  <div class="inner">
    <div class="footer-link">
      <%= link_to '利用規約', terms_path, class: 'footer-link__item' %>
      <%= link_to 'プライバシーポリシー', policy_path, class: 'footer-link__item' %>
    </div>
    <p class="copy-right">© Copyright 2019 BX.note All rights reserved.</p>
  </div><!-- inner end -->
</footer>