<header class="header">
  <div class="inner">
    <h1 class="header-logo">
      <a class="header-logo__link" href="#">
        <img class="header-logo__img" src="<%= asset_pack_path 'media/src/images/logo_1.svg' %>" />
      </a>
    </h1>
    
    <nav class="nav">
      <ul>
        <li><a href="#">Search</a></li>
        <li><a href="#">Home</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Skills</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
      
    <div class="nav-toggle">
      <div class="icon"></div>
    </div>
  </div>
</header>